@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; /* Prevents unwanted scrollbars */
}

body {
  font-family: "Roboto Mono", monospace;
  background: none;
}

/* HUD container to position everything together */
.hud-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-bottom: 5px;
}

/* Odometer and Gear Display now share the same styling */
.odometer, .gear-display {
  display: none;
  gap: 7.5px;
  background: #212529;
  border: 1px solid #42484e;
  padding: 5px 8px;
  border-radius: 7px;
  color: white;
  transition: 0.5s ease-in-out;
  user-select: none;
  position: relative;
}


.odometer-value, .gear-value {
  font-size: 20px;
}

.odometer-unit, .gear-label {
  color: #999;
}
